@page
@model Web.Pages.Productos.EditarModel
@{
}
<h1>Editar Porducto</h1>

<form method="post">
    <div class="form-group">
        <label for="categorias">Categoría</label>
        <select id="categorias" asp-for="categoriaseleccionada" class="form-select"
                asp-items="Model.categorias" onchange="fectsubCategorias()">
            <option value="">Seleccione una categoría</option>
        </select>
    </div>

    <div class="form-group">
        <label for="subCategorias">Sub Categoría</label>
        <select asp-for="subCategoriaseleccionada" class="form-select" asp-items="Model.subCategorias" id="subCategorias">
            <option value="">Seleccione una Sub Categoría</option>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label" asp-for="productoResponse.Nombre"></label>
        <input class="form-control" asp-for="productoResponse.Nombre" />
        <span class="text-danger" asp-validation-for="productoResponse.Nombre"></span>
    </div>

    <div class="form-group">
        <label class="control-label" asp-for="productoResponse.Descripcion"></label>
        <input class="form-control" asp-for="productoResponse.Descripcion" />
        <span class="text-danger" asp-validation-for="productoResponse.Descripcion"></span>
    </div>

    <div class="form-group">
        <label class="control-label" asp-for="productoResponse.Precio"></label>
        <input class="form-control" asp-for="productoResponse.Precio" />
        <span class="text-danger" asp-validation-for="productoResponse.Precio"></span>
    </div>

    <div class="form-group">
        <label class="control-label" asp-for="productoResponse.Stock"></label>
        <input class="form-control" asp-for="productoResponse.Stock" />
        <span class="text-danger" asp-validation-for="productoResponse.Stock"></span>
    </div>

    <div class="form-group">
        <label class="control-label" asp-for="productoResponse.CodigoBarras"></label>
        <input class="form-control" asp-for="productoResponse.CodigoBarras" />
        <span class="text-danger" asp-validation-for="productoResponse.CodigoBarras"></span>
    </div>
    <br />
    <a type="button" class="btn btn-primary" asp-page="./Index">Regresar</a>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>

@section Scripts {
    <script>
        async function fectsubCategorias() {
            const categoriaId = document.getElementById("categorias").value;
            if (!categoriaId) { return; }

            try {
                const respuesta = await fetch(?handler=ObtenersubCategorias&categoriaId=${categoriaId});
                const subCategorias = await respuesta.json();
                const subCategoriasSelect = document.getElementById("subCategorias");

                const seleccionado = "@Model.subCategoriaseleccionada";

                subCategoriasSelect.innerHTML = '<option value="">Seleccione una Sub categoría</option>';

                subCategorias.forEach(subCategoria => {
                    const option = document.createElement("option");
                    option.value = subCategoria.id;
                    option.text = subCategoria.nombre;

                    if (seleccionado && seleccionado.toLowerCase() === modelo.id.toLowerCase()) {
                        option.selected = true;
                    }

                    subCategoriasSelect.appendChild(option);
                });
            } catch (error) {
                console.error('Error obteniendo los subCategorias', error);
            }
        }
    </script>
}
